html {
  background-image: url(img/background_image.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  color: blanchedalmond;
  font-size: 30px;
}
/*headerstyling*/
header nav {
  width: 100%;
}
header nav ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
header nav ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
header nav ul li:nth-child(1) a:hover {
  color: #d1534d;
}
header nav ul li:nth-child(2) a:hover {
  color: #aeda46;
}
header nav ul li:nth-child(3) a:hover {
  color: #50b3c0;
}
header nav ul li:nth-child(4) a:hover {
  color: #b65da3;
}
header nav ul li:nth-child(5) a:hover {
  color: #464e77;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/*Here we style the main body*/
.main-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: #128b1d8e; */
  margin: 0px 15px;
  border-radius: 5px;
  height: 90%;
}
/* styling champion card */
.champion{
  border: 1px solid black;
  box-shadow: 0px 0px 20px 7px rgba(12, 12, 12, 0.62);
  border-radius: 10px;
  margin: 10px;
  flex: 1 1 200px;
}
/* style of akali */
.akali,
.viktor,
.kayle,
.ahri,
.ekko{
  background-position:top;
  background-size:cover;
  background-repeat: no-repeat;
}
.akali{
  background-image: url(img/akali.png);
}
.viktor{
  background-image: url(img/viktor.png);
}
.kayle{
  background-image: url(img/kayle.png);
}
.ahri{
  background-image: url(img/ahri.png);
}
.ekko{
  background-image: url(img/ekko.png);
}
/*footer-header styling*/
footer,
header {
  margin: 5px;
  padding: 0;
  border: 1px solid #000000be;
  border-radius: 62px;
  background: linear-gradient(145deg, #000000e1, #000000be);
  box-shadow: 33px 33px 77px #18161e, -33px -33px 77px #262230;
  display: flex;
  justify-content: center;
}
footer div {
  margin: 0;
  padding: 0;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*socila media styling */
.social-media p {
  margin: 10px;
  padding: 0;
}
.social-media .copyright {
  font-size: 32px;
}
.social-media #find-us {
  color: #778116;
  font-size: 28px;
  font-weight: bolder;
}
.social-media .instagram {
  background-image: url(../../img/2.png);
  height: 45px;
  width: 52px;
}
.social-media .instagram:hover {
  background-image: url(../../img/2hover.png);
  height: 45px;
  width: 52px;
}
.social-media .facebook {
  background-image: url(../../img/3.png);
  height: 45px;
  width: 52px;
}
.social-media .facebook:hover {
  background-image: url(../../img/3hover.png);
  height: 45px;
  width: 52px;
}
.social-media .youtube {
  background-image: url(../../img/4.png);
  height: 45px;
  width: 52px;
}
.social-media .youtube:hover {
  background-image: url(../../img/4hover.png);
  height: 45px;
  width: 52px;
}
