/* google fonts to import */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Berkshire+Swash&family=Cormorant+SC&family=Courgette&family=Edu+TAS+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Henny+Penny&family=Kalam&family=Kaushan+Script&family=Permanent+Marker&family=Quicksand&family=Rubik+Moonrocks&family=Splash&display=swap');

body {
  padding: 0;
  margin: 0;

  background-image: url(img/indexBackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
  font-size: 30px;
}